// Variables
@import "variables";

body, html{
  margin: 0;
}

body{
  min-height: 100vh;
  font: $font-size-base $main-font;
  line-height: $line-height-base;
  color: $text-color;
  background: $dark-grey;
}

.header{
  width: 100%;
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  background: $primary;
  position: fixed; top: 0; left: 0;
  z-index: 10;
}

.header-logo{
  color: white;
  font-size: 1.5rem;
}

.header-logo, .header-toolbar{
  width: 30%;
}

.header-search{
  flex: 1;
  font: 1.5rem $main-font;
  color: $white;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  @include transition-normal;
}

.header-search:hover, .header-search:focus{
  background: rgba(0, 0, 0, 0.12);
}

.header-search:focus, .header-search:active{
  outline: none;
}

.header-toolbar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.content{
  padding-top: 64px;
}

.section{
  box-sizing: border-box;
  padding: 10px 20px 0 20px;
  width: 100%;
}

.cardHeader{
  font-size: 0.9rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
