// Variables
@import "variables";

body, html{
  margin: 0;
}

body{
  display: flex;
  min-height: 100vh;
  flex-flow: row nowrap;
  align-items: stretch;
  font: $font-size-base $main-font;
  line-height: $line-height-base;
  color: $text-color;
  background: $dark-grey;
}

.sidebar{
  width: 15vw;
  background: $primary;
}

.sidebar-logo{
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.content{
  flex: 1;
}

.section{
  padding: 10px 20px 0 20px;
}

.section:first-child{
  padding-top: 0;
}

.cardHeader{
  font-size: 0.9rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
