// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// Colors
$primary: #795548;
$accent: #FFEB3B;

// Typography
$main-font: "Roboto";
$font-size-base: 16px;
$line-height-base: 1.5;
$text-color: #333;

// Buttons


// Inputs


// Style Presets
@mixin elevation-1{

}

@mixin style-card {
  border-radius: 2px;
  padding: 15px;
  margin: 10px;
}

// Animation
